@using Converter.Models

@model InputText
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Convert text into specific format</h2>
    
</div>


        @Html.DropDownListFor(m => m.ExpectedType,
                    new SelectList(Enum.GetValues(typeof(TypeFile.TypeFiles))),
                    "Select expected type")

 
 "Wprowadz tekst:" @Html.EditorFor(model => model.MyText, new { htmlAttributes = new { @class = "form-control" } })

<input type="submit" value="Try Convert" />
                   
                
            
      
      


    